@font-face {
 src: url(fonts/digital-7.ttf); 
 font-family: digital;  
}

.container {
    color: rgb(202, 199, 199);
    font-family: digital;
    font-size: 35px;
    position: absolute;top: 0;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .meter {
    position: absolute;top: 0;
    margin-left: 270px;
    margin-top: 70px;
    margin-bottom: 10px;
    z-index: +2;
    
  }

  .bar {
    box-sizing: border-box;
    position: absolute;bottom: 0;
    margin-left: 320px;
    margin-bottom: 400px;
    height: calc(var(--height, 0)*1%) ;
    width: 1em;
    background-color: rgb(202, 199, 199);
    z-index: +1;
    border-radius: 0.5em;
    min-height: 10px;
    max-height: 32;
      
  }

 



