@font-face {
 src: url(fonts/digital-7.ttf); 
 font-family: digital;  
}

.container {
    color: rgb(202, 199, 199);
    font-family: digital;
    font-size: 35px;
    position: absolute;top: 0;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .meter {
    position: absolute;top: 0;
    margin-left: 270px;
    margin-top: 70px;
    margin-bottom: 10px;
    z-index: +2;
    
  }

  .bar {
    position: absolute;bottom:0;
    height: calc(var(--height, 0)*2.5%);
    width: 1em;
    margin-left: 50px;
    margin-bottom: 40px;
    background-color: rgb(202, 199, 199);
    border-radius: 0.5em;
    display: block;
    z-index: -1;
  }

 

 



